name: Update translations and Rust packaging related files in main
on:
  push:
    branches:
      - main
    paths-ignore:
      - debian/control
concurrency: auto-update

permissions:
  pull-requests: write
  contents: write

# Jobs in this action must not run concurrently, as they modify the repository.
# When adding more jobs, make sure to use the "needs:" attribute to make sure they run sequentially.
jobs:
  update-rust-packaging:
    name: Update packaging related Rust files
    runs-on: ubuntu-24.04 # ubuntu-latest-runner
      env:
        CARGO_VENDOR_DIR: ${{ github.workspace }}/vendor_rust
    steps:
      - name: Install dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
          CARGO_VENDOR_FILTERER_VERSION: 0.5.16
        shell: bash
        run: |
          set -euo pipefail

          sudo apt update -y
          sudo apt install -y dh-cargo git

          sudo apt install -y libssl-dev pkg-config
          sudo cargo install --locked --root=/usr \
            cargo-vendor-filterer@${{ env.CARGO_VENDOR_FILTERER_VERSION }}

      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Vendor the dependencies
        env:
          CARGO_PATH: /usr/share/cargo/bin/cargo
        shell: bash
        run: |
          set -euo pipefail

          sh -x debian/vendor-rust.sh

      - name: Update XS-Vendored-Sources-Rust
        shell: bash
        run: |
          set -euo pipefail

          VENDORED_SOURCES=$(/usr/share/cargo/bin/dh-cargo-vendored-sources 2>&1 || true)
          OUTPUT=$(echo "$VENDORED_SOURCES" | grep ^XS-Vendored-Sources-Rust: || true)
          if [ -z "${OUTPUT}" ]; then
            echo "XS-Vendored-Sources-Rust is up to date. No change is needed.";
            exit 0
          fi
          sed -i "s/^XS-Vendored-Sources-Rust:.*/$OUTPUT/" debian/control

          echo "modified=true" >> "${GITHUB_ENV}"

      - name: Create Pull Request
        if: ${{ env.modified == 'true' }}
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: Auto update packaging related Rust files
          title: Auto update packaging related Rust files
          labels: control, automated pr
          branch: auto-update-rust-packaging
          delete-branch: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Push branch
        if: ${{ env.modified == 'true' }}
        shell: bash
        run: |
          set -eu

          git push origin auto-update-rust-packaging:main
