name: Build debian packages

on:
  push:
    branches:
      - main
    paths-ignore:
      - .github/workflows/automatic-doc-checks.yml
      - .readthedocs.yaml
      - docs/**
    tags:
      - "*"
  pull_request:
    paths-ignore:
      - .github/workflows/automatic-doc-checks.yml
      - .readthedocs.yaml
      - docs/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  UBUNTU_VERSIONS: |
    ["noble", "plucky", "questing", "devel"]
  CARGO_VENDOR_FILTERER_VERSION: 0.5.16

jobs:
  define-versions:
    name: Define build versions
    runs-on: ubuntu-latest
    outputs:
      ubuntu-versions: ${{ env.UBUNTU_VERSIONS }}
    steps:
      - run: 'true'

  build-deb-package:
    name: Build ubuntu package
    runs-on: ubuntu-latest
    needs: define-versions
    strategy:
      fail-fast: false
      matrix:
        ubuntu-version: ${{ fromJSON(needs.define-versions.outputs.ubuntu-versions) }}
    outputs:
      run-id: ${{ github.run_id }}
      pkg-name: ${{ steps.outputs.outputs.pkg-name }}
      # FIXME: Use dynamic outputs when possible: https://github.com/actions/runner/pull/2477
      pkg-version-devel: ${{ steps.outputs.outputs.pkg-version-devel }}
      pkg-version-questing: ${{ steps.outputs.outputs.pkg-version-questing }}
      pkg-version-plucky: ${{ steps.outputs.outputs.pkg-version-plucky }}
      pkg-version-noble: ${{ steps.outputs.outputs.pkg-version-noble }}
      pkg-dsc-devel:  ${{ steps.outputs.outputs.pkg-dsc-devel }}
      pkg-dsc-questing:  ${{ steps.outputs.outputs.pkg-dsc-questing }}
      pkg-dsc-plucky:  ${{ steps.outputs.outputs.pkg-dsc-plucky }}
      pkg-dsc-noble:  ${{ steps.outputs.outputs.pkg-dsc-noble }}
      pkg-src-changes-devel: ${{ steps.outputs.outputs.pkg-src-changes-devel }}
      pkg-src-changes-questing: ${{ steps.outputs.outputs.pkg-src-changes-questing }}
      pkg-src-changes-plucky: ${{ steps.outputs.outputs.pkg-src-changes-plucky }}
      pkg-src-changes-noble: ${{ steps.outputs.outputs.pkg-src-changes-noble }}

    steps:
      - name: Checkout authd code
        uses: actions/checkout@v6

      - name: Build debian packages and sources
        uses: canonical/desktop-engineering/gh-actions/common/build-debian@licenserecon
        with:
          docker-image: ubuntu:${{ matrix.ubuntu-version }}
          # Add the Go backports PPA if we're testing a Ubuntu release which
          # doesn't have the required Go version in main.
          extra-apt-repositories: ${{ (matrix.ubuntu-version == 'noble' || matrix.ubuntu-version == 'plucky' || matrix.ubuntu-version == 'questing') && 'ppa:ubuntu-enterprise-desktop/golang' || '' }}
          # Extra build dependencies:
          # - systemd-dev: Required to read compile time variables from systemd via pkg-config.
          extra-source-build-deps: |
            ca-certificates
            git
            libssl-dev
            systemd-dev
          extra-source-build-script: |
            if [ "${{ matrix.ubuntu-version }}" == noble ]; then
              cargo install --locked --root=/usr \
                cargo-vendor-filterer@${{ env.CARGO_VENDOR_FILTERER_VERSION }}
              command -v cargo-vendor-filterer
            fi

        # FIXME: Use dynamic outputs when possible: https://github.com/actions/runner/pull/2477
      - name: Generate outputs
        id: outputs
        run: |
          (
            echo "pkg-name=${{ env.PKG_NAME }}"
            echo "pkg-version-${{ matrix.ubuntu-version }}=${{ env.PKG_VERSION }}"
            echo "pkg-dsc-${{ matrix.ubuntu-version }}=${{ env.PKG_DSC }}"
            echo "pkg-src-changes-${{ matrix.ubuntu-version }}=${{ env.PKG_SOURCE_CHANGES }}"
          ) >> "${GITHUB_OUTPUT}"
