name: Git Checks

on: [pull_request]

jobs:
  block-fixup:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Block Fixup Commit Merge
      run: |
        PR_REF="${GITHUB_REF%/merge}/head"
        BASE_REF="${GITHUB_BASE_REF}"
        git fetch --no-tags --prune --progress --no-recurse-submodules --depth=1 origin "${BASE_REF}:__ci_base"
        git fetch --no-tags --prune --progress --no-recurse-submodules --shallow-exclude="${BASE_REF}" origin "${PR_REF}:__ci_pr"
        COMMIT_LIST=$(/usr/bin/git log --pretty=format:%s __ci_base..__ci_pr)
        echo "Fixup commits:"
        if echo "${COMMIT_LIST}" | grep -iE '^(fixup|squash|wip)'; then
          exit 1
        fi

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
