[package]
name = "nss"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"
name = "nss_authd"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# Allows to override the socket path used to connect to the grpc server, through the AUTHD_NSS_SOCKET env variable.
custom_socket = []
integration_tests = []

[dependencies]
libnss = "0.7.0"
lazy_static = "1.4.0"
libc = "0.2.154"
paste = "1.0.15"
tonic = "0.11.0"
prost = "0.12.4"
rustix = { version = "0.38.34", features = ["use-libc"] }
tokio = { version = "1.37.0", features = ["macros", "rt-multi-thread"] }
tower = "0.4.13"
log = "0.4.20"
simple_logger = {version = "4.3.3", features = ["stderr"]}
syslog = "6.1.1"
ctor = "0.2.8"
procfs = "0.16.0"

[build-dependencies]
tonic-build = "0.11.0"
cc = "1.0.97"
